.full-popup
{
   width: 95% !important;
   height: 95% !important;
} 
.even{
    background-color: #ccc;;
}
.odd{
    background-color: #FFFFFF;
}

.ion-grid-bg {
  background-color: #e2e3e4;
} 

.ion-row-bg{
    background-color: #bcbcbc;
    border-bottom: 1px solid lightgray;
 }
 .textRed
 {
     color: red;
 }